<div class="modal fade" id="excluirProjetos_<%= p.id %>" tabindex="-1" aria-labelledby="modalLabel_<%= p.id %>"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #f3e8ff;">
            <div class="modal-header">
                <h5 class="modal-title"
                    style="color: #39033a; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;"
                    id="modalLabel_<%= p.id %>">Exclusão de Projeto
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <hr style="margin: 0; border: 1px solid #000000;">
            <div class="modal-body">
                Deseja mesmo excluir o projeto <strong>
                    <%= p.nome %>?
                </strong>.
            </div>
            <hr style="margin: 0; border: 1px solid #000000;">
            <div class="modal-footer">
                <button type="button" class="btn mt-3" style="background-color: #39033a; color: white;"
                    data-bs-dismiss="modal">Voltar</button>
                <form action="/gerenciamentoProjetos/<%= p.id %>/delete" method="POST" class="form-excluir">
                    <button type="submit" class="btn mt-3"
                        style="background-color: #bb0000; color: white">Excluir</button>
                </form>
            </div>

        </div>
    </div>
</div>