<section class="container mb-5">
    <h1 class="text-center mb-2"
        style="color: #39033a; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;"></h1>





    <div class="row">
        <% projetos.forEach(p=> { %>
            <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="p-4 rounded shadow mb-4 w-100"
                    style="background-color: #f3e8ff; height: 100%; min-height: 350px; display: flex; flex-direction: column; justify-content: space-between;">

                    <div>
                        <div
                            style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">
                            <h3>Projeto: <%= p.nome %>
                            </h3>
                        </div>

                        <p class="mt-3"><strong>Descrição:</strong>
                            <%= p.descricao %>
                        </p>

                        <p><strong>Tecnologias Utilizadas:</strong>
                            <%= p.tecnologias %>
                        </p>

                        <div class="text-center">
                            <img src="<%= p.imagem %>" alt="Imagem de <%= p.nome %>"
                                class="img-fluid rounded mx-auto d-block" style="max-height: 200px;">
                        </div>

                    </div>

                    <div class="mt-3 text-center">

                        <a href="<%= p.link %>" class="btn btn-sm mb-2" target="_blank" rel="noopener noreferrer"
                            style="background-color: #39033a; color: white;">
                            Acessar Repositório
                        </a>

                    </div>
                </div>
            </div>
            <% }) %>
    </div>





</section>